body {
	background-image: url("../images/background-img-week-4-game.jpg");
	background-repeat: no-repeat;
	background-size: 100%
}

#header {
	background-color: orange;
	color: white;
	text-align: center;
	font-size: 50px;
}

.paragraph-text {
	background-color: #fee7ca;
	color: green;
	font-size: 20px;
	line-height: 150%;
}

#current-score {
	background-color: green;
	padding-bottom: 70px;
	font-size: 50px;
}

#wins-losses {
	background-color: lightblue;
	padding-bottom: 20px;
	line-height: 50px;
}

.crystal-image {
	width: 160px;
	height: 160px;
	margin: 0 auto;
}


#total-score-text {
	background-color: teal;
	font-size: 16px;
}

#total-score-number {
	background-color: teal;
	padding-bottom: 80px;
	font-size: 40px;
}